//Theme colors
$primary: #5265E1;
$secondary: #FA5959;

//Text
p {
    color: grey;
    font-size: 1.1rem;
    padding: 0.8rem 0;
}

//Containers
.container {
    margin-bottom: 6rem;
}

//Navbar
$navbar-padding-y: 2rem;
.navbar-nav {
    column-gap: 2rem;
}
.navbar-toggler {
    border-width: 0;
}

//Buttons
$btn-font-weight: bold;
$btn-padding-x: 1.2rem;


//Tabs
$nav-link-color: grey;
$nav-link-hover-color: $secondary;
$nav-pills-border-radius: 0;
$nav-pills-link-active-color: black;
$nav-pills-link-active-bg: transparent;
.nav-pills {
    .nav-link {  
      border: 1px solid black;
      border-bottom: 1px solid $primary;
    }
  
    .nav-link.active,
    .show > .nav-link {
      border-bottom: 3px solid $secondary;
    }
}

//Accordion
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-active-bg: white;
$accordion-button-active-color: black;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
.accordion-button:hover{
    color: $secondary;
}



@import "../node_modules/bootstrap/scss/bootstrap";

//Cards
.card-header {
    border-bottom-style: dotted;
    border-bottom-width: 3px;
}
