//Theme colors
$primary: #5265E1;
$secondary: #FA5959;

//Import functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

//Spacing
$custom-spacers : (
    6: $spacer * 5,
    7: $spacer * 8,
    8: $spacer * 10,
);
$spacers: map-merge($custom-spacers, $spacers);

//Text
p {
    color: grey;
    font-size: 1.1rem;
    padding: 0.8rem 0;
}

//Navbar
$navbar-padding-y: 2rem;
.navbar-nav {
    column-gap: 2rem;
}
.navbar-toggler {
    border-width: 0;
}

//Buttons
$btn-font-weight: bold;
$btn-padding-x: 1.2rem;

//Image frames
.frame {
    display: flex;
    width: 100%;
    position: relative;
    right: 0;
    overflow: visible;

    img {
        max-width: 100%;
    }

    .rectangle {
        position: absolute;
        top: 2rem;
        width: 150%;
        height: 90%;
        background-color: #5368df;
        z-index: -1;
    }
    .rectangle.right {
        left: 4rem;
        border-bottom-left-radius: 8rem;
    }
    .rectangle.left {
        height: 100%;
        right: 3rem;
        border-bottom-right-radius: 10rem;
    }
    @media screen and (min-width: 576px) {
        .rectangle.right {
            top: 3rem;
            left: 6rem;
        }
        .rectangle.left {
            right: 5rem;
        }    
    }
    @media screen and (min-width: 768px) {
        .rectangle.right {
            top: 4rem;
            left: 8rem;
        }
        .rectangle.left {
            right: 7rem;
        }    
    }
    @media screen and (min-width: 992px) {
        .rectangle.right {
            left: 11rem;
        }
    }
    @media screen and (min-width: 1200px) {
        .rectangle.right {
            left: 13rem;
        }
    }

}


//Tabs
$nav-link-color: grey;
$nav-link-hover-color: $secondary;
$nav-pills-border-radius: 0;
$nav-pills-link-active-color: black;
$nav-pills-link-active-bg: transparent;
.nav-pills {
    .nav-link {  
      border: 1px solid black;
      border-bottom: 1px solid $primary;
    }
    .nav-link.active,
    .show > .nav-link {
      border-bottom: 3px solid $secondary;
    }
}

//Accordion
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-active-bg: white;
$accordion-button-active-color: black;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
.accordion-button:hover{
    color: $secondary;
}

//Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//Cards
.card-header {
    border-bottom-style: dotted;
    border-bottom-width: 3px;
}
