//Theme colors
$primary: #5265E1;
$secondary: #FA5959;
$dark: #242946;

//Import functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

//Spacing
$custom-spacers : (
    6: $spacer * 5,
    7: $spacer * 8,
    8: $spacer * 10,
);
$spacers: map-merge($custom-spacers, $spacers);

//Text
p {
    color: grey;
    font-size: 1.1rem;
    padding: 0.8rem 0;
}

//Navbar
$navbar-padding-y: 2rem;
$navbar-light-hover-color: $secondary;

//Buttons
$btn-font-weight: bold;
$btn-padding-x: 1.2rem;

//Image frames
.frame {
    display: flex;
    width: 100%;
    position: relative;
    right: 0;
    overflow: visible;
    img {
        max-width: 100%;
    }
    .rectangle {
        position: absolute;
        top: 2rem;
        width: 150%;
        height: 90%;
        background-color: #5368df;
        z-index: -1;
    }
    .rectangle.right {
        left: 4rem;
        border-bottom-left-radius: 8rem;
    }
    .rectangle.left {
        height: 100%;
        right: 3rem;
        border-bottom-right-radius: 10rem;
    }
    @media screen and (min-width: 576px) {
        .rectangle.right {
            top: 3rem;
            left: 6rem;
        }
        .rectangle.left {
            right: 5rem;
        }    
    }
    @media screen and (min-width: 768px) {
        .rectangle.right {
            top: 4rem;
            left: 8rem;
        }
        .rectangle.left {
            right: 7rem;
        }    
    }
    @media screen and (min-width: 992px) {
        .rectangle.right {
            left: 11rem;
        }
    }
    @media screen and (min-width: 1200px) {
        .rectangle.right {
            left: 13rem;
        }
    }
}

//Tabs
$nav-link-color: grey;
$nav-link-hover-color: $secondary;
$nav-pills-border-radius: 0;
$nav-pills-link-active-color: black;
$nav-pills-link-active-bg: transparent;

//Accordion
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-active-bg: white;
$accordion-button-active-color: black;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
.accordion-button:hover{
    color: $secondary;
}

//Footer
$navbar-dark-color: white;
$navbar-dark-hover-color: $secondary;

//Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//Customized buttons
.btn-primary-custom {
    @extend .btn-primary;
    &:hover {
        color: $primary;
        background-color: white;
        outline: 1px solid $primary;
        box-shadow: 2px 2px 2px grey;
    }
}
.btn-secondary-custom {
    @extend .btn-secondary;
    color: white;
    &:hover {
        color: $secondary;
        background-color: white;
        outline: 1px solid $secondary;
        box-shadow: 2px 2px 2px grey;
    }
}
.btn-outline-dark-custom {
    @extend .btn-outline-dark;
    border: white;
    &:hover {
        color: inherit;
        background-color: white;
        outline: 1px solid $dark;
        box-shadow: 2px 2px 2px grey;
    }
}

//Customized navbar 
.navbar-custom {
    @extend .navbar;
    .navbar-toggler {
        border-width: 0;
    }
    .navbar-nav {
        column-gap: 2rem;
    }
    .navbar-collapse {
        background: rgba($dark, 0.9);
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }
}




//Customize tabs
.nav-pills {
    .nav-link-custom {  
        @extend .nav-link;
        border: none;
        border-bottom: 1px solid grey;
    }
    .nav-link-custom.active,
    .show > .nav-link-custom {
        @extend .nav-link;
        border-bottom: 3px solid $secondary;
    }
}

//Customized Cards
.card-custom {
    border-radius: 1.5rem;
    width: auto;
    &:nth-child(2n){
        align-self: center;
    }
    &:nth-child(3n){
        align-self: end;
    }
    .card-header {
        @extend .card-header;
        border-bottom-style: dotted;
        border-bottom-width: 3px;
    }
}





